@model ResponceStatusViewModel

@if (String.IsNullOrEmpty(Model.ErrorMessage) == false)
{
    <div id="toast-1" class="toast fade show bottom-0 end-0" role="alert" style="position: fixed;margin: 30px;background: #212529;">
        <div class="toast-header" style="border-width: 3px;background: #d1e8ff;">
            <svg class="bi bi-exclamation-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="background: #ff0000;border-radius: 4px;color: rgb(255,255,255);font-size: 22px;">
                <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"></path>
            </svg><strong class="me-auto" style="margin-left: 6px;color: rgb(0,0,0);font-size: 18px;">Attention!</strong><button class="btn-close ms-2 mb-1 close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body" role="alert" style="background: #5ab0ff;">
            <p style="color: rgb(0,0,0);font-weight: bold;font-size: 16px;">
                @Model.ErrorMessage
            </p>
        </div>
    </div>
}

@if (String.IsNullOrEmpty(Model.SucessMessage) == false)
{
    <div id="toast-1" class="toast fade show bottom-0 end-0" role="alert" style="position: fixed;margin: 30px;background: #212529;">
        <div class="toast-header" style="border-width: 3px;background: #d1ffe9;">
            <svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="background: #05ff00;border-radius: 4px;color: rgb(255,255,255);font-size: 22px;">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
            </svg><strong class="me-auto" style="margin-left: 6px;color: rgb(0,0,0);font-size: 18px;">Sucess!</strong><button class="btn-close ms-2 mb-1 close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body" role="alert" style="background: #5aff88;">
            <p style="color: rgb(0,0,0);font-weight: bold;font-size: 16px;">
                @Model.SucessMessage
            </p>
        </div>
    </div>
}