@{
    ViewData["Title"] = "Product";
}

<div class="container">
    @await Html.PartialAsync("_ProductCardFull")
    @await Html.PartialAsync("_ProductCardFull")
    @await Html.PartialAsync("_ProductCardFull")
    @await Html.PartialAsync("_ProductCardFull")
    @await Html.PartialAsync("_ProductCardFull")
</div>