@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
<p>Спасибо за регистрацию! Проверьте вашу почту для подтверждения вашего Email!</p>
    
